@font-face {
    font-family: 'VA-11 Hall-A 6px Non-mono';
    src: url("../font/va-11-hall-a-6px-non-mono.ttf") format('truetype'),
        url("../font/VA-11Hall-A6pxNon-mono.woff2") format('woff2'),
        url("../font/VA-11Hall-A6pxNon-mono.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    margin:0;
    padding:0;
    overflow: hidden;
}
a, p, h1, figcaption, em, li{
  text-decoration: none;
  font-family: "VA-11 Hall-A 6px Non-mono";
}

.LOGO{
  position: fixed;
  top: 2%;
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.LOGO img{
  position: absolute;
  height: 100%;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  transition: all 0.3s ease;   
}
.back2index{
  position: fixed;
  top: 2%;
  left: 0%;
  z-index: 999;
}
.back2index img{
  height: 15vh;
  width: auto;
}

/* Extras.html */

/* header */

.Extras {
  background-color: rgb(122, 176, 83);
  background-image: url("../extras/background.png");
  background-repeat: repeat-y;   
  background-position: right top;       
  background-attachment: scroll;         
}
#EXTRA-LOGO {
  top:0%;
  background-color: #7eb850;
  transition: height 0.1s ease;
}
#EXTRA-LOGO img{
  position: absolute;
  height: 90%;
  right: 0%;
  transform: translateX(0%);
  z-index: 1;
  transition: all 0.3s ease;   
}

/* body */
.Extras-wrapper {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 75dvh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 1rem; 
  overflow-y: auto;
  transition: all 1s ease;
}
.Extras-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50%;
  flex: 0 1 calc(34% - 2rem); /* 3 per row on desktop What the fuck was this??? I probably did this with an AI right??? I did not know how to write code like this back then... also the comment wtf. No wonder this page is so shitty, I gotta redo it sometime */
  box-sizing: border-box;
  height: auto;
}
.Extras-item img {
  width: 100%;
  max-height: 60%;
  object-fit: contain;
}
.Extras-item p{
  margin: 2%;
}
.Extras-title{
  text-align: center;
  color:rgb(102, 1, 87);
  font-size: large;
}
.Extras-description{
  text-align: center;
  font-size: small;
  color:rgb(77, 77, 77);
}
.Extras-item:hover {
  opacity: 0.7;
}

/* Tablet Mode */
@media (max-aspect-ratio: 1) {
  .LOGO{
    right: 0%;
    width: 100vw;
  }
  .LOGO img{
    right: 0%;
    transform: translateX(0%);
    z-index: 1;
  }
  .back2index{
    top: 2%;
  }
  .back2index img{
    height: 13vh;
  }
  #EXTRA-LOGO {
    height: 16vh;
  }
  #EXTRA-LOGO img{
    top: 1%;
  }
  .Extras-wrapper {
  height: 80dvh;
  }
  .Extras-item {
    flex: 0 1 calc(53% - 2rem); /* 2 per row on smaller screens  Again with this?? Crazy*/
  }
}

/* Mobile Mode */
@media (max-aspect-ratio: 0.58) {
  #EXTRA-LOGO{
    height: 26dvw;
  }
  .back2index{
    top: 1%;
  }
  .back2index img{
    height: 22vw;
  }
}