@font-face {
    font-family: 'Coral Pixels';
    src: url("/font/CoralPixels-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
  margin:0;
  padding:0;
}
body {
  height: 100dvh;
  background-image: url(/assets/RamblesBG.png);
  background-size: 10%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none; 
  overflow-x: hidden;
  overflow-y: scroll;
}
.backgroundborder{
  position: relative;
  background: repeating-linear-gradient(0deg,rgba(237, 194, 224, 1) 0dvh, rgba(196, 82, 128, 1) 1dvh, rgba(237, 194, 224, 1) 3dvh, rgba(196, 82, 128, 1) 5dvh);
  width: 82dvw;
  max-width: 304dvh;
  margin: 3dvh auto 0;
  padding-top: 0.5dvh;
  padding-bottom: 2dvh;
}
.background{
  position: relative;
  background-color: rgb(228, 171, 211);
  width: 80dvw;
  max-width: 300dvh;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2dvh;
  padding: 2dvh 0dvh 1dvh;
}
h1{
  font-family: "Coral Pixels";
  font-size: 2.4rem;
}
p, span{
 font-family: "Lucida Console", "Courier New", monospace;
}
span{
  padding: 0.5rem;  
  color: -webkit-link;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}
#go-back{
  padding-left: 1dvh;
}
#back2top{
  text-align: right;
  padding: 0dvh 1dvh 2dvh
}
#go-back span:hover, #back2top span:hover, a:hover{
  color: rgb(248, 41, 255);
}
.endspacer{
  height: 10dvh;
}


.title{
  margin-top: 3dvh;
  text-align: center;
  text-shadow: -0.3dvh 0.3dvh rgb(239, 122, 204);
}
.nav{
  text-align: center;
  margin: 0;
}
.divider{
  text-align: center;
  margin: 1rem;
  font-size: 2dvw;
  text-shadow: 0dvh 0.6dvh rgb(239, 122, 204);
}
.rambleheader{
  margin: 4dvh 10dvh;
  font-size: 0.9rem;
  font-family: monospace;
}
.ramble p{
  margin: 4dvh;
  font-size: 1.2rem;
  text-indent: 2rem;
}



html::-webkit-scrollbar {
  width: 1dvh;
}
html::-webkit-scrollbar-track {
  background: rgb(48, 16, 45); 
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(255, 89, 244); 
}
html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(254, 212, 255);
}