@font-face {
    font-family: 'VA-11 Hall-A 6px Non-mono';
    src: url("/font/VA-11Hall-A6pxNon-mono.ttf") format('embedded-opentype'),
        url("/font/VA-11Hall-A6pxNon-mono.woff2") format('woff2'),
        url("/font/VA-11Hall-A6pxNon-mono.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    margin:0;
    padding:0;
    overflow: hidden;
}
a, p, h1, figcaption, em, li{
  text-decoration: none;
  font-family: "VA-11 Hall-A 6px Non-mono";
}

/* Ads */
.ad-filter {
  position: fixed;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  top: 0px;
  background-color: rgba(68, 7, 7, 0.4);
  display: none;
  z-index: 6;
}
.ads{
  position: fixed;
  height: calc(var(--vh, 1vh) * 100);
  left: 50%;
  z-index: 7;
  animation: heartBeatWithTranslate 1s ease forwards;
}
.ads img{
  position: absolute;
  height: 100%;
  transform: translateX(-50%);
  display: none;
  animation: heartBeatWithTranslate 1s ease forwards;
}

/* POLARIS.html */

/* header */
.POLARIS{
  background-image: url("../assets/POLARIS_bg.png"); 
  background-size: 400px;
  background-repeat: repeat;
}
.LOGO{
  position: fixed;
  top: 2%;
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.LOGO img{
  position: absolute;
  height: 100%;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  transition: all 0.3s ease;   
}
.back2index{
  position: fixed;
  top: 2%;
  left: 0%;
  z-index: 999;
}
.back2index img{
  height: 15vh;
  width: auto;
}

/* episode listing */
.ep-container {
  position: fixed;
  left: 15%;
  bottom: calc(var(--vh, 1vh) * 17);
  width: 70vw;              
  height: calc(var(--vh, 1vh) * 60);;
  overflow-y: auto;
  overflow-x: hidden;                 
  white-space: nowrap;      
  background-color: rgba(113, 60, 70, 0.2);
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;    
}
.ep-container a {
  width: 100%;
  height: 15vh;
  font-family: 'VA-11 Hall-A 6px Non-mono';
  margin: 1%;
  transition: all 0.3s ease;
  position: relative;
  background-color: rgba(113, 60, 70, 0.1);
  display: flex;
  align-items: center;
}
.ep-container span {
  position: relative;
  color:rgb(231, 152, 69);
}
.episode-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.episode-date {
  position: absolute;
  right: 5%;
}
.episode-date-mobile{
  position: absolute;
  right: 5%;
  opacity: 0.7;
  transform: translateY(200%);
  display: none;
}
.listed-episode img {
  height:100%;                     
  object-fit: cover;
  margin-right: 2%;
}
.listed-episode:hover {
  background-color: rgba(113, 71, 60, 0.2);
  height: 17vh;
}
.ep-container:hover a:not(:hover) {
  height: 15vh;
}

/* footer */
.polaris-buttons-container {
  position: fixed;
  bottom: 3%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around; 
  gap: 10%;
  transition: all 0.3s ease;
}
.polaris-buttons {
  position: relative;
  height: 12vh;
}
.polaris-buttons img {
  position: absolute;
  height: 100%;
  width: auto;
  transition: opacity 0.3s ease;
  transform: translateX(-50%);
}
.polaris-buttons .idle {
  opacity: 1;
}
.polaris-buttons .focus {
  opacity: 0;
}
.polaris-buttons:hover .idle {
  opacity: 0;
}
.polaris-buttons:hover .focus {
  opacity: 1;
}

/* Episodes.html*/
.comic-wrapper{
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: calc(var(--vh, 1vh) * 25);;
  box-sizing: border-box;
}
.comic{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comic img{
  max-width: 100vw;
  width: calc(var(--vh, 1vh) * 75);
  z-index: 3;
}
.comic-buttons {
  display: flex;
  justify-content: space-around; 
  gap: 24vh;
  margin-bottom: 2vh;
  z-index: 10;
}
.comic-buttons img {
  width: auto;
}
.comic h1{
  color:rgb(226, 103, 46);
}
.comic p {
  max-width: 90vw;
  width: calc(var(--vh, 1vh) * 100);
  text-align: center;
  font-size: large;
  color: rgb(255, 190, 111);
  text-wrap:inherit;
}
.comic a{
  color: rgb(132, 148, 250);
  text-decoration: underline;
}
.back2top{
  font-size: large;
  font-family: "VA-11 Hall-A 6px Non-mono";
  color: rgb(132, 148, 250);
  text-decoration: underline;
  cursor: pointer;
}
#back2top:hover{
  color: rgb(178, 187, 243);
}
#commentlink{
  color: rgb(240, 136, 113);
}
#commentlink:hover{
  color: rgb(228, 151, 134);
}
.polaris-footer {
  width: 100vw;
  background-color: rgba(37, 30, 30, 0.7);
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0.7;
}
.polaris-footer p {
  width: auto;
  max-width: 90vw;
  font-size: large;
  color: rgb(255, 190, 111);
}
.polaris-footer img{
  width: auto;
}
.polaris-footer a{
  color: rgb(132, 148, 250);
  text-decoration: underline;
  word-break: break-word;
}
.polaris-footer:hover a{
  color: rgb(178, 187, 243);
}

/* Cast.html */
.cast-wrapper{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 75);
  transition: height 0.5s ease;
}
.cast-wrapper img{
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1;
}
.castinner {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.cast-flex{
  position: absolute;
  width: 33vh;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.cast-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
}
.cast-item h1{
  font-size: calc(var(--vh, 1vh) * 4.2);
}
.cast-item {
  height: calc(var(--vh, 1vh) * 75);
  text-align: center;
  opacity: 0;
}
.cast-item:hover {
  opacity: 1;
}
.cast-item:hover h1{
  animation: shake 1s ease 0s 1 normal forwards;
}
#cast-vic{
  margin-top: 20vh;
  margin-left: 3vh;
  margin-right: 0vh;
}
#cast-jack{
  margin-top: 16vh;
  margin-left: 0vh;
  margin-right: 0vh;
}
#cast-beth{
  margin-top: 10vh;
  margin-left: 0vh;
  margin-right: 0vh;
  
}

/* CastMember.html */
.CastMember-scroll-area {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(var(--vh, 1vh) * 100);
}
.CastMember-wrapper{
  position: relative;
  width: 100vw;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
}
.CastMember-text{
  padding-top: calc(var(--vh, 1vh) * 25);
  padding-right: 3%;
  flex: 1; 
}
.CastMember-images{
  padding-top: calc(var(--vh, 1vh) * 25);
  padding-left: 3%;
  padding-bottom: 2%;
  flex: 1; 
}
.CastMember-images img{
  display: block;
  width: 100%;
  height: auto; 
  padding-bottom: 1%; 
}
.CastMember-images figcaption{
  color: rgb(255, 190, 111);
}
.CastMember-text p{
  margin-bottom: 20px;
  color: rgb(255, 190, 111);
}
.CastMember-text h1{
  color: rgb(198, 68, 36);
}
#CastMember-sheet {
  position: relative;
  width: 70%; 
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  display: block; 
  overflow-y: visible;
  padding-bottom: 1%;
}
#back2topcast {
  display: block;
  width: fit-content;
  margin: auto;
  padding-bottom: 2%;
}
#back2topcast:hover {
  color: rgb(178, 187, 243);
}

/* Tablet Mode */

@media (max-aspect-ratio: 1) {

  /* Tablet Ads */
  .ads{
    height: auto;
    width: 100vw;
    top: 13%;
  }
  .ads img{
    height: auto;
    width: 100%;
  }



  /* Tablet episode listing */
  .LOGO{
    right: 0%;
    height: 14vh;
    width: 100vw;
  }
  .LOGO img{
    right: 0%;
    transform: translateX(0%);
    z-index: 1;
  }
  .back2index{
    top: 2%;
  }
  .back2index img{
    height: 13vh;
  }
  .ep-container {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 65);;
    left: 0%;
    transition: left 0.3s ease, width 0.3s ease;
  }
  .polaris-buttons-container {
    width: 100%;
    left: 0%;
    transform: translateX(0%);
    gap: 7%;
  }

  /* Tablet episode */
  .comic-wrapper{
    padding-top: calc(var(--vh, 1vh) * 20);
  }

  /* Tablet cast */
  .cast-wrapper{
    height: calc(var(--vh, 1vh) * 80);
    overflow-y: hidden;
    overflow-x: visible;
  }
  .cast-wrapper img{
    position: absolute;
    height: 100%;
    left: auto;
    transform: translateX(0%);
  }

  /* Tablet Cast Member*/
  .CastMember-wrapper{
    flex-direction: column;
  }
  .CastMember-text{
    padding-top: calc(var(--vh, 1vh) * 18);
    padding-right: 7%;
    padding-left: 7%;
  }
  .CastMember-images{
    padding-top: calc(var(--vh, 1vh) * 0);
    padding-right: 0%;
  }
  #CastMember-sheet {
    width: 90%; 
    padding-bottom: 4%;
  }
  #link2top {
    padding-bottom: 7%;
  }
}

/* Mobile Mode */
@media (max-aspect-ratio: 0.58) {

   /* Mobile Ads */
  .ads{
    top: 30%;
  }

  /* Mobile episodes */
  .LOGO{
    height: 24vw;
  }
  .back2index{
    top: 1%;
  }
  .back2index img{
    height: 22vw;
  }
  .polaris-buttons {
    height: 20vw;
  }
  #EXTRA-LOGO {
    height: 26vw;
  }
  .episode-date {
  display: none;
  }
  .episode-date-mobile{
    display: block;
  }
}

/* Animations and JS classes */
.hide {
  transition: opacity 0.5s linear, visibility 0s 0.5s;
  visibility: hidden;
  opacity: 0;
}

@keyframes heartBeatWithTranslate {
  0% {
    transform: translateX(-50%) scale(1);
  }
  14% {
    transform: translateX(-50%) scale(1.3);
  }
  28% {
    transform: translateX(-50%) scale(1);
  }
  42% {
    transform: translateX(-50%) scale(1.3);
  }
  70% {
    transform: translateX(-50%) scale(1);
  }
}


/* scrolbar */
.ep-container::-webkit-scrollbar,
.CastMember-scroll-area::-webkit-scrollbar {
  width: 0.5vw;
}
.ep-container::-webkit-scrollbar-track,
.CastMember-scroll-area::-webkit-scrollbar-track {
  background: rgba(35, 22, 15, 0.4); 
  border-radius: 5px;
}
.ep-container::-webkit-scrollbar-thumb,
.CastMember-scroll-area::-webkit-scrollbar-thumb {
  background-color: rgba(235, 111, 53, 0.6); 
  border-radius: 4px;
  border: 0.1vw solid rgba(255, 255, 255, 0.2);
}
.ep-container::-webkit-scrollbar-thumb:hover,
.CastMember-scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: rgba(235, 111, 53, 0.7);
}

.cast-wrapper::-webkit-scrollbar {
  height: 0.5vh;
}
.cast-wrapper::-webkit-scrollbar-track {
  background: rgba(48, 48, 48, 0.4); 
  border-radius: 5px;
}
.cast-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(188, 188, 188, 0.6); 
  border-radius: 4px;
  border: 0.1vw solid rgba(255, 255, 255, 0.2);
}
.cast-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(202, 202, 202, 0.7);
}

.comic-wrapper::-webkit-scrollbar {
  width: 0.5vw;
}
.comic-wrapper::-webkit-scrollbar-track {
  background: rgb(50, 33, 24); 
  border-radius: 5px;
}
.comic-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(235, 111, 53, 0.6); 
  border-radius: 4px;
  border: 0.1vw solid rgba(255, 255, 255, 0.2);
}
.comic-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(235, 111, 53, 0.7);
}